<header-suizo-webpage (dataEvent)='setLanguage($event)'></header-suizo-webpage>

<section>
  <div class="container-fluid p-5 text-center fondo-1">
    <h3 class="fw-bold text-white sombra fs-1">Nuestros Valores</h3>
    <div class="row d-flex align-items-center">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fas fa-users fs-1"></i>
          <div class="title">
            <h4 class="fw-bold">Proposito</h4>
          </div>
          <div class="text">
            <p class="text-justify lh-sm">
              Incentivar la educación de calidad por medio del sistema
              alternativo para todos los peruanos sin excepción alguna.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fas fa-bullseye fs-1"></i>
          <div class="title">
            <h4 class="fw-bold">Mision</h4>
          </div>
          <div class="text">
            <p class="text-justify lh-sm">
              Llevar nuestro sistema de educación único en el país a todos
              los rincones del territorio nacional, mejorar su reputación y otorgarles competitividad a todos nuestros
              egresados.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fas fa-eye fs-1"></i>
          <div class="title">
            <h4 class="fw-bold">Vision</h4>
          </div>
          <div class="text">
            <p class="text-justify lh-sm">
              Ser conocidos a nivel nacional como el único colegio que
              llevó no solo educación sino también esperanza a nuestros alumnos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-5">
    <img src="assets/image/logo-wasi.png" width="500px" class="img-fluid" alt="">
  </div>
  <div class="container-fluid p-lg-5 p-3 text-center fondo-2">
    <div class="row p-lg-5 p-3 fondo-negro">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 text-white text-center">
        <h3 class="fw-bold sombra fs-1">Sobre Nosotros</h3>
        <p class="text-justify">Somos un colegio que lleva la experiencia y buen manejo del alumnado al cual nos tenía
          acostumbrados la “I.E.P.N.E ANDRES BELLO”. Nuestro colegio creció a ritmo acelerado desde el cambio de
          promotoría y dirección que se dio en el año 2016 y estamos seguros de que se debe al buen trabajo que
          realizamos; que estamos en constantes cambios para llevarles a nuestros alumnos una educación de vanguardia y
          sin nada que envidiar a grandes instituciones de colegios regulares. Nunca nos olvidamos de nuestros alumnos y
          encontraran en nosotros confianza y seguridad.</p>
      </div>
    </div>
  </div>
</section>
<footer-suizo-webpage></footer-suizo-webpage>