<header-suizo-webpage  (dataEvent)='setLanguage($event)'></header-suizo-webpage>
<section class="container-fluid px-0">
    <div class="text-center fondo-3">
        <div class="container p-5 fondo-negro">
            <h1 class="text-white fw-bold">CERTIFICACION</h1>
            <p class="text-white">en el colegio “Yachay Wasi” de Cusco; tenemos un tipo de certificación que entregamos:</p>
        </div>
    </div>
    <div class="container p-md-5 p-3 text-center">
        <h4 class="fw-bold fs-3">Alumnos CEBA (actual programa educativo “alternativo”)</h4>
        <p class="text-justify">Aquellos alumnos que ingresaron al colegio a partir del año 2011 hasta la actualidad ya pertenecen a la modalidad CEBA.</p>
        <h4 class="fw-bold fs-3">Validez:</h4>
        <p class="text-justify">Debido a mala propaganda e información mal intencionada, es que siempre salta la misma pregunta: ¿El certificado es válido? A lo que respondemos que el certificado CEBA es igual de valido que cualquier otro de Secundaria, es legítimo para seguir:</p>
        <div class="row my-2">
            <div class="col-md-6 col-12">
                <ul>
                    <li class="text-start">Estudios superiores (Universidad, instituto)</li>
                    <li class="text-start">Fuerzas Armadas (ejército, fuerza aérea, naval)</li>
                </ul>
            </div>
            <div class="col-md-6 col-12 text-left">
                <ul>
                    <li class="text-start">Fuerzas Policiales</li>
                    <li class="text-start">Sacar licencia de conducir</li>
                </ul>
            </div>
        </div>
        <p class="fw-bold text-justify">Actualmente somos el único programa educativo que permite a las personas mayores de edad (sin límite de edad) culminar sus estudios secundarios sin ningún inconveniente.</p>
    </div>
    <div class="fondo" style="padding: 10% 5%;">
        <div class="row d-flex align-items-stretch">
            <div class="col-12 text-center p-5">
                <h1 class="fw-bold text-dark">NUESTRAS MODALIDADES</h1>
            </div>
            <div class="col-3">
                <div class="container fondo-negro rounded-3 text-start p-4 text-white">
                    <h5 class="text-center">Modalidad Semi Prescencial</h5>
                    <p class="text-justify lh-sm"><small>Incentivar la educación de calidad por medio del sistema alternativo para todos los peruanos sin excepción alguna.</small></p>
                </div>
            </div>
            <div class="col-4">
                <div class="container fondo-negro rounded-3 text-start p-4 text-white">
                    <h4 class="text-center">Modalidad Avanzada</h4>
                    <p class="text-justify lh-sm"><small>Para todas las personas mayores de 18 años las cuales pueden estar actualmente trabajando y necesiten acabar la secundaria lo más pronto posible y con todas las herramientas necesarias para recibir la mejor educación del medio.</small></p>
                </div>
            </div>
            <div class="col-5">
                <div class="container fondo-negro rounded-3 text-start p-4 text-white">
                    <h4 class="text-center">Modalidad Virtual</h4>
                    <p class="text-justify lh-sm"><small>En este tipo de estudio no es necesario que el alumno asista de manera obligatoria, siempre y cuando justifique de manera correcta el porque no podria asistir a clases. Una vez justificado el alumno esta exonerado de asistir a clases, pero ello no impide que venga cuando pueda a las clases presenciales.  </small></p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer-suizo-webpage></footer-suizo-webpage>