<!-- <footer class="container-fluid px-5 py-3 bg-dark">
    <div class="row d-flex align-items-center">
        <div class="col-lg-4 col-12 order-lg-1 order-3 text-center py-3">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7758.379529157651!2d-71.969385!3d-13.523943!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe4cd0d5a7a26d129!2sColegio%20Privado%20CEBA%20Andres%20Bello%20de%20Cusco!5e0!3m2!1ses!2spe!4v1620407454547!5m2!1ses!2spe" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-lg-4 col-md-6 col-12 text-center text-white order-lg-2 order-1 p-3">
            <img src="assets/image/cropped-yachay-huasi.png" class="img-fluid" width="180px" alt="">
            <p class="mb-0 fw-bold">Av. Manco Capac 518, Wanchaq, Cusco</p>
            <small class="mt-0 fw-bold">Telefonos:</small>
            <p class="mb-0 fw-bold">084-222053; 084-232200</p>
            <small class="mt-0 fw-bold">Siguenos en nuestras redes sociales:</small>
            <p class="mb-0 fs-3"><i class="fab fa-facebook-square fs-1 mx-3"></i> <i class="fab fa-twitter-square fs-1 mx-3"></i> <i class="fab fa-youtube-square fs-1 mx-3"></i></p>
        </div>
        <div class="col-lg-4 col-md-6 col-12 text-center order-lg-3 order-2 border-top border-bottom border-light p-3">
            <div class="mb-1">
                <label for="exampleFormControlInput1" class="form-label text-white fw-bold">CORREO ELECTRONICO</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label text-white fw-bold">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mt-0">
                <button class="btn btn-primary" type="button">Suscribirse</button>
            </div>
        </div>
    </div>
</footer> -->
<footer class="container-fluid px-5 pt-3 bg-dark">
    <div class="row d-flex align-items-center">
        <div class="col-3 text-center">
            <img src="../../assets/image/icono.png" width="50%" class="img-fluid" alt="">
            <p class="lh-sm"><small class="text-white fw-bold">Av. Manco Capac 518 <br> Wanchaq - Cusco - Perú</small></p>
        </div>
        <div class="col-3">
            <div class="container text-start lh-sm text-white mx-3">
                <h5>¿Tienes dudas?</h5>
                <p class="my-0">Telefonos de contacto</p>
                <div class="my-2">
                    <h6 class="my-1">084-222053</h6>
                    <h6 class="my-1">084-232200</h6>    
                </div>
                <p class="my-0">Email: lorem@lorem.com.pe</p>
            </div>
        </div>
        <div class="col-2">
            <div class="container text-start lh-sm text-white">
                <h5>Siguenos</h5>
                <div class="my-2">
                    <div class="d-flex align-items-center">
                        <i class="fab fa-facebook fs-2 salto"></i><small class="ms-2">Facebook</small>
                    </div>
                    <div class="d-flex align-items-center my-2">
                        <i class="fab fa-twitter fs-2"></i><small class="ms-2">Twitter</small> <br>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fab fa-instagram fs-2"></i><small class="ms-2">Instagram</small><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7758.379529157651!2d-71.969385!3d-13.523943!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe4cd0d5a7a26d129!2sColegio%20Privado%20CEBA%20Andres%20Bello%20de%20Cusco!5e0!3m2!1ses!2spe!4v1620407454547!5m2!1ses!2spe" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-12 w-100 text-center py-1 border-top">
            <p class="text-white"><small>Desarrollado por Yachay Acprodec SAC</small></p>
        </div>
    </div>
</footer>