<header-suizo-webpage  (dataEvent)='setLanguage($event)'></header-suizo-webpage>

<section>
    <div class="text-center">
        <img src="assets/image/modalidad-semi-presencial.jpeg" class="w-100 img-fluid" alt="..." style="max-height: 850px; height: 750px">
        <!--
    <div class="fondo-negro">
        <h3>CERTIFICACION</h3>
        <p>en el colegio “Yachay Wasi” de Cusco; tenemos un tipo de certificación que entregamos:</p>
    </div>
-->
    </div>
    <div class="container p-md-5 p-3 text-center">
        <h4 class="fw-bold fs-3">Alumnos CEBA (actual programa educativo “alternativo”)</h4>
        <p class="text-justify">Aquellos alumnos que ingresaron al colegio a partir del año 2011 hasta la actualidad ya pertenecen a la modalidad CEBA.</p>
        <h4 class="fw-bold fs-3">Validez:</h4>
        <p class="text-justify">Debido a mala propaganda e información mal intencionada, es que siempre salta la misma pregunta: ¿El certificado es válido? A lo que respondemos que el certificado CEBA es igual de valido que cualquier otro de Secundaria, es legítimo para seguir:</p>
        <div class="row my-2">
            <div class="col-md-6 col-12">
                <ul>
                    <li class="text-start">Estudios superiores (Universidad, instituto)</li>
                    <li class="text-start">Fuerzas Armadas (ejército, fuerza aérea, naval)</li>
                </ul>
            </div>
            <div class="col-md-6 col-12 text-left">
                <ul>
                    <li class="text-start">Fuerzas Policiales</li>
                    <li class="text-start">Sacar licencia de conducir</li>
                </ul>
            </div>
        </div>
        <p class="fw-bold text-justify">Actualmente somos el único programa educativo que permite a las personas mayores de edad (sin límite de edad) culminar sus estudios secundarios sin ningún inconveniente.</p>
    </div>
    <div class="text-center">
        <img src="assets/image/modalidad-avanzada.jpeg" class="w-100 img-fluid" alt="..." style="max-height: 850px; height: 750px">
    </div>
</section>

<footer-suizo-webpage></footer-suizo-webpage>