<footer class="container-fluid px-5 py-3 bg-dark">
    <div class="row d-flex align-items-center">
        <div class="col-lg-4 col-12 order-lg-1 order-3 text-center py-3">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7758.379529157651!2d-71.969385!3d-13.523943!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe4cd0d5a7a26d129!2sColegio%20Privado%20CEBA%20Andres%20Bello%20de%20Cusco!5e0!3m2!1ses!2spe!4v1620407454547!5m2!1ses!2spe" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-lg-4 col-md-6 col-12 text-center text-white order-lg-2 order-1 p-3">
            <img src="assets/image/cropped-yachay-huasi.png" class="img-fluid" width="180px" alt="">
            <p class="mb-0 fw-bold">Av. Manco Capac 518, Wanchaq, Cusco</p>
            <small class="mt-0 fw-bold">Telefonos:</small>
            <p class="mb-0 fw-bold">084-222053; 084-232200</p>
            <small class="mt-0 fw-bold">Siguenos en nuestras redes sociales:</small>
            <p class="mb-0 fs-3"><i class="fab fa-facebook-square fs-1 mx-3"></i> <i class="fab fa-twitter-square fs-1 mx-3"></i> <i class="fab fa-youtube-square fs-1 mx-3"></i></p>
        </div>
        <div class="col-lg-4 col-md-6 col-12 text-center order-lg-3 order-2 border-top border-bottom border-light p-3">
            <div class="mb-1">
                <label for="exampleFormControlInput1" class="form-label text-white fw-bold">CORREO ELECTRONICO</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label text-white fw-bold">Mensaje</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mt-0">
                <button class="btn btn-primary" type="button">Suscribirse</button>
            </div>
        </div>
    </div>
</footer>