<header-suizo-webpage  (dataEvent)='setLanguage($event)'></header-suizo-webpage>
<section>
    <div class="container">
        <h2 class="text-medium text-center text-dark m-t-0">HOTEL SUIZO</h2>
        <div class="seperator"><i class="fa fa-dot-circle-o text-muted"></i></div>
        <p class="text-justify">
            <small class="font-weight-bold">{{ 'habitaciones.hotel' | translate }}</small>
        </p>
    </div>
    <div class="container text-center my-5">
        <h3 class="mb-0 font-weight-bold text-dark">{{ 'galeria.subtitle' | translate }}</h3>
        <p class="font-weight-light mb-0">{{ 'galeria.text1' | translate }}</p>
        <h1 class="font-weight-bold">"HOTEL SUIZO"</h1>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="assets/video/bannerintipunku.mp4" allowfullscreen></iframe>
          </div>
    </div>
    <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src="assets/image/hotelSuizo/rooms/1.jpg" alt="Card image cap">
          <div class="card-body p-2">
            <h5 class="card-title text-center">{{ 'home.conocenos' | translate }}</h5>
            <p class="card-text text-justify"><small>{{ 'home.sub_title_pie' | translate }}</small></p>
          </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/image/hotelSuizo/rooms/3.jpg" alt="Card image cap">
        </div>
        <div class="card p-3">
          <blockquote class="bg-info blockquote mb-0 card-body text-white">
            <p>{{ 'galeria.card_title_1' | translate }}</p>
            <footer class="blockquote-footer">
              <small class="text-white">
                {{ 'galeria.card_desc_1' | translate }} <cite title="Source Title">{{ 'galeria.card_desc_1_1' | translate }}</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/image/hotelSuizo/rooms/2.jpg" alt="Card image cap">
          <div class="card-body p-2">
            <h5 class="card-title text-center">"HOTEL SUIZO"</h5>
          </div>
        </div>
        <div class="card bg-info text-white text-center p-3">
          <blockquote class="blockquote mb-0">
            <p>{{ 'galeria.card_title_2' | translate }}</p>
            <footer class="blockquote-footer">
              <small class="text-white font-weight-light">
                <cite title="Source Title">{{ 'galeria.card_desc_2' | translate }}</cite>
              </small>
            </footer>
          </blockquote>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/image/hotelSuizo/rooms/3.jpg" alt="Card image cap">
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">"HOTEL SUIZO"</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
        <!-- <div class="card p-3 text-right">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div> -->
        <div class="card">
            <img class="card-img-top" src="assets/image/hotelSuizo/rooms/3.jpg" alt="Card image cap">
        </div>
      </div>
      <div class="row mt-4 d-flex align-items-stretch p-3">
          <div class="col-12 text-center">
              <h1 class="text-dark font-weight-light">{{ 'galeria.title2' | translate }}</h1>
          </div>
          <div class="col-lg-6 col-12">
            <img src="assets/image/gallery/piedra-1.jpg" class="img-fluid" alt="">
        </div>
          <div class="col-lg-6 col-12 mt-lg-0 mt-4">
            <img src="assets/image/gallery/piedra-3.jpg" class="img-fluid" alt="">
        </div>
        <div class="w-100 my-2"></div>
        <div class="col-lg-8 col-12">
            <img src="assets/image/gallery/cusco-1.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-4 col-12 mt-lg-0 mt-4">
            <img src="assets/image/gallery/cusco-2.jpg" class="img-fluid" style="height: 72% !important;" alt="">
        </div>
        <!-- <div class="col-8">
            <img src="assets/image/gallery/cusco-1.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-4">
            <img src="assets/image/gallery/cusco-2.jpg" class="img-fluid" style="height: 72% !important;" alt="">
        </div> -->
      </div>
</section>

<footer-suizo-webpage></footer-suizo-webpage>