<header-suizo-webpage  (dataEvent)='setLanguage($event)'></header-suizo-webpage>
<!-- WELCOME -->
<section>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active carrousel-1" data-bs-interval="10000">
                <img src="assets/image/carrousel-1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <div class="row fondo-negro d-flex align-items-center">
                        <div class="col-6">
                            <img src="assets/image/cropped-yachay-huasi.png" width="200px" class="img-fluid" alt="">
                        </div>
                        <div class="col-6 text-white py-5">
                            <h2 class="fw-bold">YACHAY WASI</h2>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="carousel-item carrousel-1" data-bs-interval="10000">
                <img src="assets/image/carrousel-2.jpg" class="d-block w-100" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                    <div class="row fondo-negro d-flex align-items-center">
                        <div class="col-6">
                            <img src="assets/image/andres.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-6 text-white py-5">
                             <h2 class="fw-bold">CEBA ANDRES BELLO</h2>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container row">
        <div class="col-md-8 offset-md-4 col-12 py-5">
            <p class="fs-6 fw-bold  text-justify">“Nos unimos a la familia Andrés Bello de Cusco bajo el mismo organigrama para que todos nuestros alumnos y potenciales alumnos reciban la mejor educación alternativa de la ciudad del Cusco. ¡Terminen sus estudios con los expertos en la modalidad, lo más rápido posible; con la calidad que nos caracteriza y venimos ofreciendo desde los inicios del colegio!”</p>
        </div>
    </div>
    <div class="container-fluid fondo text-center">
        <div class="container text-white fondo-negro p-5 text-center">
            <h3 class="fw-bold">YACHAY WASI</h3>
            <p class="text-justify">El colegio Andrés Bello de Cusco se enorgullece y le da la bienvenida al CEBA “Yachay Wasi”
                con R.D N° 2201. En este nuevo CEBA que hemos adquirido nos vamos a enfocar en darle todos
                los beneficios que a nuestros alumnos se les denegó en los años 2011-2014, por ello les
                pedimos a nuestros alumnos que también se sientan identificados con nuestro nuevo CEBA
                el cual se va a dedicar en exclusividad a la educación a distancia o virtual. Por ello les
                pedimos que siempre estén atentos a su correo institucional y cualquier duda que exista entre
                ambos colegios que pertenecen a la familia Andres Bello de Cusco, la podrán hacer por este
                medio o en la oficina principal de atención. Los esperamos!</p>
        </div>
    </div>
</section>


<footer-suizo-webpage></footer-suizo-webpage>
